---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Welcome to Astro.">
	<div class="bg-red-100 p-8 flex">
		<h4 class="text-white ml-8">Opcion1</h4>
		<h4 class="text-white">Opcion2</h4>
		<Icon name="mdi:alpha-p-circle" />
		<span class="bg-white"><Icon name="lucide:airplay" /></span>
	</div>

</Layout>